@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base{
  body {
    @apply dark:bg-[#292B32] bg-[#F7F7F8]
  }
  .corner:before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -3rem;
    width: 40px;
    height: 40px;
    background-color: #F7F7F8;  /* Inherit background color from the container */
    border-radius: 100%;
    @apply dark:bg-[#292B32] 
  }
  .corner:after {
    content: "";
    position: absolute;
    top: -1rem;
    right: -3rem;
    width: 40px;
    height: 40px;
    background-color: #F7F7F8;  /* Inherit background color from the container */
    border-radius: 100%;
    @apply dark:bg-[#292B32] 
  }
}
